nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 0.5em 1em;
    padding: 0.5em 0;
    background: var(--cor-branca);
    border-radius: 16px;
    border: 1px solid var(--cor-destaque-primaria);
    box-shadow: 2px 2px 8px var(--cor-preta);
}

nav ul li {
    margin: 0 15px; /* Espaçamento entre os links */
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

nav ul li a:hover {
    color: var(--cor-destaque-primaria);
}