:root {
    --cor-destaque-primaria: #1F8CD4;
    --cor-branca: #FFFFFF;
    --cor-preta: #0f0f0f;
    --cor-sombra: rgb(0, 0, 0, 0.25);

    /* TAMANHO FONTE */
    --font-gigante: 62px; 
    --font-grande: 42px;
    --font-media-grande: 32px;
    --font-media: 22px;
    --font-normal: 16px;
    --font-pequena: 12px;

    /* PESO FONTE */
    --font-pesada: 800;
}

