<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <title>PÁGINA BASE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'variaveis.css' %}">
    <link rel="stylesheet" href="{% static 'style_base.css' %}">
    <link rel="stylesheet" href="{% static 'style_components/header.css' %}">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">
</head>
<body>
{% include "components/header.html" %}

<main>
    {% block conteudo %}
    {% endblock conteudo %}
</main>
</body>
</html>
