<style>
    .apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5em;
    }
</style>

<section class="apresentacao">
    <button class="button_apresentacao">Veja apresentação</button>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/g1Flr67phOA?si=rM3-Xz1D_9kAje9W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>

<script>
    const button_apresentacao = document.getElementsByClassName('button_apresentacao')[0];
    
    // Adiciona o event listener para o clique
    button_apresentacao.addEventListener('click', () => {
        console.log('TESTE');
    });
</script>