<style>
    .home_inicio {
        display: flex;
        background: var(--cor-branca);
        justify-content: space-around;
        width: 80%;
        height: 250px;
        margin: 4em auto;
        border: 2px solid var(--cor-destaque-primaria);
        border-radius: 16px;
        box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.452);
    }

    .home-div_text {
        display: flex;
        flex-direction: column;
        padding-top: 4em;
        height: 100%;
        text-align: center;
    }

    .home-div_text h1 {
        font-family: "New Amsterdam", sans-serif;
        font-size: 62px;
        text-align: left;
    }
</style>

<section class="home_inicio">
    <div class="home-div_text">
        <h1>Leonardo Weder Veiga Duca</h1>
        <p>Desenvolvedor full-stack</p>
    </div>
</section>