<style>
    .home_inicio {
        display: flex;
        background: var(--cor-branca);
        justify-content: space-around;
        width: 70%;
        height: 400px;
        margin: 4em auto;
        border: 2px solid var(--cor-destaque-primaria);
        border-radius: 16px;
    }

    .home-div_text {
        display: flex;
        flex-direction: column;
        padding-top: 4em;
        width: 420px;
        height: 100%;
    }

    .home-div_text h1 {
        font-size: 48px;
        text-align: left;
    }

    .home-div_img {
        display: flex;
        align-items: center;
        width: 250px;
        padding: 2em 0;  
    }
    .home-div_img img {
        width: 100%;
    }
</style>

<section class="home_inicio">
    <div class="home-div_text">
        <h1>Leonardo Weder Veiga Duca</h1>
        <p>Desenvolvedor full-stack</p>
    </div>
    <div class="home-div_img">
        <img src="../../static/imgs/foto_perfil.jpg" alt="Foto do leonardo">
    </div>
</section>