<style>
    .skills_home {
        text-align: center;
        margin: 2em 0;
    }

    .skills_titulo {
        font-size: var(--font-grande);
        font-weight: var(--font-pesada);
        margin: 1em 0;
    }

    .skills {
        display: flex;
        justify-content: space-around;
        list-style: none;
        top: 0;
    }

    .skills:hover {
        top: 30px;
    }

    .skills p {
        font-size: var(--font-media);
    }
</style>

<section class="skills_home">
    <h2 class="skills_titulo">SKILLS</h2>
    <div>
        <ul class="skills">
            <li>
                <img src="#" alt="Uma img da skill">
                <p>Django</p>
            </li>
            <li>
                <img src="#" alt="Uma img da skill">
                <p>Django</p>
            </li>
            <li>
                <img src="#" alt="Uma img da skill">
                <p>Django</p>
            </li>
        </ul>
    </div>
</section>